In [8]:
import pandas as pd
from io import StringIO
import sys

csv_data = \
'''a,b,c,d
1,1,10,3
1,0,5,1
0,0,1,2
1,1,5,1
0,0,10,2'''

In [9]:
df = pd.read_csv(StringIO(csv_data))
df

   a  b   c  d
0  1  1  10  3
1  1  0   5  1
2  0  0   1  2
3  1  1   5  1
4  0  0  10  2

In [10]:
df['ratio'] = df.groupby(['a','b'], group_keys=False).apply(lambda g: g.c/(g.c * g.d).sum())
df

   a  b   c  d     ratio
0  1  1  10  3  0.285714
1  1  0   5  1  1.000000
2  0  0   1  2  0.045455
3  1  1   5  1  0.142857
4  0  0  10  2  0.454545

In [ ]:
################# Group By Ex ################### Python

In [11]:
import numpy as np

df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one -1.283217  0.492688
1  bar    one  0.036324  0.363724
2  foo    two -0.184373  1.623716
3  bar  three -0.392423 -0.232401
4  foo    two -0.562597  1.068877
5  bar    two  0.500037 -0.563816
6  foo    one -1.156542 -1.524637
7  foo  three  0.062551  1.073438

In [12]:
df.groupby(['A'])['C'].sum()

A
bar    0.143938
foo   -3.124177
Name: C, dtype: float64

In [13]:
df.groupby('A').C.agg(lambda x: x.pow(2).sum())

A
bar    0.405353
foo    3.338655
Name: C, dtype: float64

In [14]:
def sum2(x):
    return x.pow(2).sum()

df.groupby('A').C.agg(sum2)

A
bar    0.405353
foo    3.338655
Name: C, dtype: float64

In [ ]:
################# Group By Ex ################### R

In [ ]:
require(plyr)
require(dplyr)

df = data.frame(A = c('foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'),
                B = c('one', 'one', 'two', 'three','two', 'two', 'one', 'three'),
                C = rnorm(8),
                D = rnorm(8))
df

myfun <- function(x){sum(x**2)}

df %>% 
  group_by(A) %>% 
  summarise(result = myfun(C))